
.ui-card {
	height: 150px;
	width: 100%;
	color: white;
}

.ui-card-header {
	position: relative;
	top: 15px;
	left: 8px;
	font-size: 1.1em;
	font-family: 'roboto_medium';
}

.btn-trend {
	background: transparent;;
	border: 0;
	color: #fff;
	padding: 1px;
	margin-left: -15px;
	z-index: 120;
	cursor: pointer;
	position: relative;
	top: 27% !important;
	right: 20px;
	outline: none;
	z-index: 10;
	box-shadow: none;
}

.days {
	margin-top: 30px;
	word-spacing: 6px;
	width: 100%;
}

.days_value {
	text-align: center;
}

.value {
	position: relative;
	right: -30px;
	word-spacing: 48px;
	text-align: left;
}

.day_value {
	display: inline-block;

}

.neon-text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 1.2em/normal "Atomic Age", Helvetica, sans-serif;
  color: rgba(244,247,249,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) , 4px 4px 8px rgb(44,88,137) , -4px 4px 8px rgb(44,88,137) , 4px -4px 8px rgb(44,88,137) , -4px -4px 8px rgb(44,88,137) ;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  top: 90% !important;
  right: 25% !important;
  z-index: -1;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-close {
	font-size: 2em;
	cursor: pointer;
	position: relative;
	top: 10px;
	color: black;
}

.content-padded {
	text-align: center;
}

.label {
	text-align: center;
}

.sos {
	height: 60px;
	z-index: 1200;
	width: 60px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	padding-top: 20px;
	margin-right: 30px;
	position: fixed;
	bottom: 17px;
	left: 76%;
	background: #cccc00;
	cursor: pointer;
}

.js-go-back {
	z-index: -1;
}

.btn-chart {
	display: inline-block;
	width: 32.59%;
}