
.ui-card {
	height: 150px;
	width: 100%;
	color: white;
}

.ui-card-header {
	position: relative;
	top: 15px;
	left: 8px;
	font-size: 1.1em;
	font-family: 'roboto_medium';
}

.btn-trend {
	background: transparent;;
	border: 0;
	color: #fff;
	padding: 1px;
	margin-left: -15px;
	z-index: 120;
	cursor: pointer;
	position: relative;
	top: 27% !important;
	right: 20px;
	outline: none;
	z-index: 10;
	box-shadow: none;
}

.days {
	margin-top: 30px;
	word-spacing: 6px;
	width: 100%;
}

.days_value {
	text-align: center;
}

.value {
	position: relative;
	right: -30px;
	word-spacing: 48px;
	text-align: left;
}

.day_value {
	display: inline-block;

}

.neon-text {
  top: 90% !important;
  right: 25% !important;
  z-index: -1;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 1.2em/normal "Roboto", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 4px 4px 6px rgba(43,49,226,0.33) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.modal-close {
	font-size: 2em;
	cursor: pointer;
	position: relative;
	top: 10px;
	color: black;
}

.content-padded {
	text-align: center;
}

.label {
	text-align: center;
	-webkit-transform: rotate(-90deg);
	position: relative;
	top: -200px;
	right: 155px;
	font-size: 1.3em;
	margin: 0;
}

.sos {
	height: 60px;
	z-index: 1200;
	width: 60px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	padding-top: 20px;
	margin-right: 30px;
	position: fixed;
	bottom: 17px;
	left: 76%;
	background: #DB4437;
	cursor: pointer;
	outline: none;
}

.js-go-back {
	z-index: -1;
}

.btn-chart {
	display: inline-block;
	width: 32.59%;
	outline: none;
}

.js-chart {
	margin-left: 30px;
}