body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: 'nexa_lightregular';
    src: url('../fonts/Nexa-Light.otf');
  font-weight: normal;
  font-style: normal;
}

/*login page css starts here*/

.ui-login-header {
  text-align: center;
  color: white;
  /* font-size: 40px; */
  text-transform: uppercase;
  font-weight: bold;
  width: 165px;
  height: 150px;
  border-radius: 5% 35% 5%;
   background: #00BCD4; 
  /*background-image: url(../img/shrimp_icon_nobackground.png);*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-position: center;*/
  /*background-size: 160px 150px;*/
}

.ui-circle {
  width: 100%;
  padding-top: 10%;
}

.ui-username {
  padding: 50px 20px 2px 20px;
}

input {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  font-family: 'FontAwesome';
}

.ui-user-textbox,.ui-pass-textbox {
  background: transparent;
  outline: none;
  color: white;
  box-sizing: border-box;
  line-height: 1;
  padding: 20px;
  padding-left: 30px;
}

.ui-password {
  padding: 0px 20px;
}

.ui-login-button {
  padding: 30px 20px 20px 20px;
}

.ui-login-but-elm {
  background: #00BCD4;
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
  color: #fff !important;
  font-size: 1.5em;
  text-transform: uppercase;
  box-shadow: 0px 2px 5px #333;
}

.ui-signup {
  color: #fff;
  text-align: center;
  /*font-size: 1.5em;*/
}

.ui-child-signup {
  display: inline-block;
  color: #00BCD4 !important;
  cursor: pointer;
}

#bg, #search-bg {
  background-image: url('../img/back_new.jpg');
  background-repeat: no-repeat;
  background-size: 1080px auto;
}

#bg {
  height: 100%;
}

#search-container {
  position: relative;
  height: 100%;
}

#search-bg {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;

  filter: blur(10px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(10px);
  filter: url('/media/blur.svg#blur'); /* for Firefox */
}

#search {
  /* Put this on top of the blurred layer */
  position: relative;
  height: 100%;
  z-index: 100;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.65);
}

@media (max-width: 600px ) {
  #bg { padding: 0px; }
  #search-bg { background-position: center -10px; }
}

#search h2, #search h5, #search h5 a { text-align: center; color: #fefefe; font-weight: normal; }
#search h2 { margin-bottom: 50px }
#search h5 { margin-top: 70px }

/*login page css ends here*/

/*dashboard page css starts here*/

.btn {
  border: 1px solid rgba(247,247,247,.98);
  font-size: 1.1em;
  outline: none;
}

.bar {
  /*z-index: 999;*/
}

@font-face {
  font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'roboto';
  text-transform: uppercase;
}

.ui-top-bar-container {
  height: 221px;
  z-index: 999;
  color: #fff;
}

.ui-middle-container {
  height: 80px;
  top: 10px !important;
}

.ui-bottom-border {
  height: 85px;
  top: 10px !important;
  border-bottom: 1px solid #ddd;    
}

.ui-bar-container {
  width: 100%;
  background: transparent;
  margin: 0 auto;
  position: relative;
  top: 51px;
  z-index: 999;
}

.ui-bar-left, .ui-bar-right {
  /*border: 1px solid #ddd;*/
  float: left;
  height: 80px;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
}

.ui-bar-middle {
  float: left;
  height: 160px;
  width: 50%;
  padding: 10px;
}

.ui-bar-bar-middle {
  width: 2.5%;
  height: 138px;
  /*border: 1px solid #ddd;*/
}

.ui-bar-left {
  width: 50%;
  background: transparent;
}

.ui-bar-right {
  width: 50%;
  background: transparent;
}

.ui-bar-bar {
  width: 2%;
  background: #ddd;
  height: 58px;
  /*border: 1px solid #ddd;*/
}

.ui-bar-value {
  position: relative;
  bottom: 60px;
  font-size: 2em;
  font-family: 'roboto-thin' !important;
  font-weight: 600;
}

.ui-bar-text {
  position: relative;
  bottom: 60px;
  font-family: 'nexa_lightregular' !important;
  text-transform: uppercase;
}

.ui-bar-value-middle {
  text-align: center;
  position: relative;
  bottom: 130px;
  font-size: 3em;
  font-family: 'roboto-thin' !important;
}

.ui-bar-text-middle {
  text-align: center;
  position: relative;
  bottom: 125px;
  font-size: 2.5em;
  font-family: 'nexa_lightregular' !important;
}

.active {
  background: #00BCD4;
}

.ui-dashboard-button {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 999;
  top: 20px;
}

.ui-dashboard-link-button {
  height: 100%;
  width: 100%;
  /*border-radius: 50%;*/
  background: transparent;
  font-size: 2.2em;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.bg-dashboard, .search-bg-dashboard {
  background-image: url('../img/back_new.jpg');
  background-repeat: no-repeat;
  background-size: 1080px auto;
}

.bg-dashboard {
  height: 100%;
}

.search-container-dashboard {
  position: relative;
  height: 100%;
}

.search-bg-dashboard {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;

  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: url('/media/blur.svg#blur'); /* for Firefox */
}

.search-dashboard {
  /* Put this on top of the blurred layer */
  position: relative;
  height: 100%;
  z-index: 100;

  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.65);
}

@media (max-width: 600px ) {
  .bg-dashboard { padding: 0px; }
  .search-bg-dashboard { background-position: center -10px; }
}

.search-dashboard h2, .search-dashboard h5, .search-dashboard h5 a { text-align: center; color: #fefefe; font-weight: normal; }
.search-dashboard h2 { margin-bottom: 50px }
.search-dashboard h5 { margin-top: 70px }
/*

.ui-hr {
  border-top: 1px solid #8c8b8b;
  text-align: center;
  background-image: url(../img/des.png);
}

.ui-hr:after {
  /*content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);*/
}

/*dashboard design ends here*/

/*signup page design starts here*/

.ui-signup-card {
  position: relative;
  top: 55px;
}

.ui-signup-user-textbox, .ui-signup-pass-textbox,.ui-signup-confirmpass-textbox,.ui-signup-email-textbox {
  color: black;
  border-bottom: 1px solid #ddd !important;
}

/*signup page design ends here*/

/*feeding device design starts here*/

.ui-body {
  padding-top: 30px;
}

.sos {
  height: 60px;
  z-index: 1200;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  margin-right: 30px;
  position: fixed;
  bottom: 17px;
  left: 76%;
  background: #DB4437;
  cursor: pointer;
  outline: none;
}

.table-view {
  background-color: transparent !important;
}

.ui-card {
  height: 150px;
  width: 100%;
  color: white;
}

.ui-card-header {
  position: relative;
  top: 15px;
  left: 8px;
  font-size: 1.1em;
  font-family: 'roboto_medium';
}

.days {
  margin-top: 30px;
  word-spacing: 6px;
  width: 100%;
}

.days_value {
  text-align: center;
}

.value {
  position: relative;
  right: -30px;
  word-spacing: 48px;
  text-align: left;
}

.day_value {
  display: inline-block;

}

.neon-text {
  top: 90% !important;
  right: 25% !important;
  z-index: -1;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 1.2em/normal "Roboto", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 4px 4px 6px rgba(43,49,226,0.33) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.modal-close {
  font-size: 2em;
  cursor: pointer;
  position: relative;
  top: 10px;
  color: black;
}

.content-padded {
  text-align: center;
}

.label {
  text-align: center;
  -webkit-transform: rotate(-90deg);
  position: relative;
  top: -200px;
  right: 155px;
  font-size: 1.3em;
  margin: 0;
}

.sos {
  height: 60px;
  z-index: 1200;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  margin-right: 30px;
  position: fixed;
  bottom: 17px;
  left: 76%;
  background: #DB4437;
  cursor: pointer;
  outline: none;
}

.ui-button {
  display: inline-block;
  width: 33%;
  padding: 20px;
  z-index: 999;
}

.btn-chart {
  width: 100%;
  outline: none;
}

.js-chart {
  margin-left: 30px;
}

.btn-trend {
  background: transparent;;
  border: 0;
  color: #fff;
  padding: 1px;
  margin-left: -15px;
  z-index: 120;
  cursor: pointer;
  position: relative;
  top: 27% !important;
  right: 20px;
  outline: none;
  z-index: 10;
  box-shadow: none;
}

.ui-graph-bar {
  z-index: 999;
}

/*feeding device design ends here*/

/*--responsive design--*/
@media (min-width:1367px) and (max-width:1457px){

}

@media (max-width:1366px){

}

@media (min-width:1281px) and (max-width:1295px){

}

@media (max-width:1280px){

}
@media (max-width:1024px){

}
@media (max-width:800px){

}
@media (max-width:768px){

}
@media (max-width:640px){

}
@media (max-width:480px){
  .ui-bar-value,.ui-bar-value-middle,.ui-bar-text-middle {
    text-align: initial;
    left: 20px;
  }

  .ui-bar-value-middle {
    bottom: 148px;
    font-size: 5.5em;
  }

  .ui-bar-text-middle {
    bottom: 160px;
    font-size: 2em;
    left: 25px;
  }

  .ui-bar-text {
    text-align: initial;
    left: 20px;
  }

  .ui-button {
    width: 32%;
  }

  .ui-dashboard-button {
    top: 28px;
  }

}
@media (max-width:320px){

}