body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'nexa_lightregular';
        src: url('../fonts/Nexa-Light.otf');
    font-weight: normal;
    font-style: normal;
}

/*login page css starts here*/

.ui-login-header {
    text-align: center;
    color: white;
    /*font-size: 40px;*/
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    height: 150px;
    border-radius: 5% 35% 5%;
    background: #00BCD4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-circle {
    width: 100%;
    padding-top: 10%;
}

.ui-username {
    padding: 50px 20px 2px 20px;
}

input {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    font-family: 'FontAwesome';
}

.ui-user-textbox,.ui-pass-textbox {
    background: transparent;
    outline: none;
    color: white;
    box-sizing: border-box;
    line-height: 1;
    padding: 20px;
    padding-left: 30px;
}

.ui-password {
    padding: 0px 20px;
}

.ui-login-button {
    padding: 30px 20px 20px 20px;
}

.ui-login-but-elm {
    background: #00BCD4;
    border: 0;
    cursor: pointer;
    width: 100%;
    height: 50px;
    color: #fff !important;
    font-size: 1.5em;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px #333;
}

.ui-signup {
    color: #fff;
    text-align: center;
    /*font-size: 1.5em;*/
}

.ui-child-signup {
    display: inline-block;
    color: #00BCD4 !important;
    cursor: pointer;
}

.btn-trend {
    background: #4c4c4c !important;
    color: #fff;
    padding: 1px;
    margin-right: -15px;
    z-index: 120;
    cursor: pointer !important;
}

#bg, #search-bg {
  background-image: url('../img/back.jpg');
  background-repeat: no-repeat;
  background-size: 1080px auto;
}

#bg {
  height: 100%;
}

#search-container {
  position: relative;
  height: 100%;
}

#search-bg {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;

  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: url('/media/blur.svg#blur'); /* for Firefox */
}

#search {
  /* Put this on top of the blurred layer */
  position: relative;
  height: 100%;
  z-index: 100;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}

@media (max-width: 600px ) {
  #bg { padding: 0px; }
  #search-bg { background-position: center -10px; }
}

#search h2, #search h5, #search h5 a { text-align: center; color: #fefefe; font-weight: normal; }
#search h2 { margin-bottom: 50px }
#search h5 { margin-top: 70px }

/*login page css ends here*/

/*dashboard page css starts here*/

.btn {
    border: 1px solid rgba(247,247,247,.98);
    font-size: 1.1em;
    outline: none;
}

.bar {
    z-index: 999;
}

@font-face {
    font-family: 'roboto';
        src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-thin';
        src: url('../fonts/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'roboto';
    text-transform: uppercase;
}

.ui-top-bar-container {
    border-bottom: 1px solid #ddd;
    height: 221px;
    z-index: 999;
}

.ui-middle-container {
    height: 80px;
    top: 10px !important;
}

.ui-bottom-border {
    height: 85px;
    top: 10px !important;
    border-bottom: 1px solid #ddd;    
}

.ui-bar-container {
    width: 100%;
    background: transparent;
    margin: 0 auto;
    position: relative;
    top: 51px;
    z-index: 999;
}

.ui-bar-left, .ui-bar-right {
    /*border: 1px solid #ddd;*/
    float: left;
    height: 80px;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

.ui-bar-middle {
    float: left;
    height: 160px;
    width: 50%;
    padding: 10px;
}

.ui-bar-bar-middle {
    width: 2.5%;
    height: 138px;
    /*border: 1px solid #ddd;*/
}

.ui-bar-left {
    width: 50%;
    background: transparent;
}

.ui-bar-right {
    width: 50%;
    background: transparent;
}

.ui-bar-bar {
    width: 2%;
    background: #ddd;
    height: 58px;
    /*border: 1px solid #ddd;*/
}

.ui-bar-value {
    position: relative;
    bottom: 60px;
    font-size: 2em;
    font-family: 'roboto-thin' !important;
    font-weight: 600;
}

.ui-bar-text {
    position: relative;
    bottom: 60px;
    font-family: 'nexa_lightregular' !important;
    text-transform: uppercase;
}

.ui-bar-value-middle {
    text-align: center;
    position: relative;
    bottom: 130px;
    font-size: 3em;
    font-family: 'roboto-thin' !important;
}

.ui-bar-text-middle {
    text-align: center;
    position: relative;
    bottom: 125px;
    font-size: 2.5em;
    font-family: 'nexa_lightregular' !important;
}

.active {
    background: #00BCD4;
}

.ui-chart-button {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 999;
}

.ui-icon-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: transparent;
    font-size: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-dashboard, .search-bg-dashboard {
  background-image: url('../img/background-dashboard.jpg');
  background-repeat: no-repeat;
  background-size: 1080px auto;
}

.bg-dashboard {
  height: 100%;
}

.search-container-dashboard {
  position: relative;
  height: 100%;
}

.search-bg-dashboard {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;

  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: url('/media/blur.svg#blur'); /* for Firefox */
}

.search-dashboard {
  /* Put this on top of the blurred layer */
  position: relative;
  height: 100%;
  z-index: 100;
}

@media (max-width: 600px ) {
  .bg-dashboard { padding: 0px; }
  .search-bg-dashboard { background-position: center -10px; }
}

.search-dashboard h2, .search-dashboard h5, .search-dashboard h5 a { text-align: center; color: #fefefe; font-weight: normal; }
.search-dashboard h2 { margin-bottom: 50px }
.search-dashboard h5 { margin-top: 70px }
/*

.octagon {
    width: 100px;
    height: 100px;
    background: #ddd;
    position: relative;
    font-size: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 20px;
}

.octagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid red;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
    width: 42px;
    height: 0;
}

.octagon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid red;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
    width: 42px;
    height: 0;
}*/

/*dashboard design ends here*/

/*signup page design starts here*/

.ui-signup-card {
    position: relative;
    top: 55px;
}

.ui-signup-user-textbox, .ui-signup-pass-textbox,.ui-signup-confirmpass-textbox,.ui-signup-email-textbox {
    color: black;
    border-bottom: 1px solid #ddd !important;
}

/*signup page design ends here*/

/*--responsive design--*/
@media (min-width:1367px) and (max-width:1457px){

}

@media (max-width:1366px){

}

@media (min-width:1281px) and (max-width:1295px){

}

@media (max-width:1280px){

}
@media (max-width:1024px){

}
@media (max-width:800px){

}
@media (max-width:768px){

}
@media (max-width:640px){

}
@media (max-width:480px){
    .ui-bar-value,.ui-bar-value-middle,.ui-bar-text-middle {
        text-align: initial;
        left: 20px;
    }

    .ui-bar-value-middle {
        bottom: 148px;
        font-size: 5.5em;
    }

    .ui-bar-text-middle {
        bottom: 160px;
        font-size: 2em;
        left: 25px;
    }

    .ui-bar-text {
        text-align: initial;
        left: 20px;
    }

    .ui-icon-circle {
        margin: 10px;
    }
}
@media (max-width:320px){

}